<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.apps.ourmessageutil">
    <application>


        <receiver
            android:name=".ExampleWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
            </intent-filter>
            <meta-data android:name="android.appwidget.AppWidgetProvider"
                       android:resource="@xml/example_appwidget_info" />
        </receiver>
    </application>
</manifest>
